@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> UserManager;

@model List<Task3.ViewModels.AccountViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Index</h1>

@if (Model.Any())
{
    <div style="display: flex; flex-direction: column; gap: 10px;">
        @foreach (var account in Model)
        {
            <div class="list-group">
                <div class="list-group-item d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        @if (!UserManager.IsInRoleAsync(account.User, "Moderator").Result)
                        {
                            <a class="font-weight-bold">@account.UserName</a>
                            <div style="display: flex; gap: 10px;">
                                <a asp-action="Add" asp-controller="Admin" asp-route-id="@account.UserName">Make Moderator</a>
                            </div>
                        }
                        else
                        {
                            <a class="font-weight-bold" asp-action="Edit" asp-controller="Admin" asp-route-id="@account.UserName">@account.UserName</a>
                            <div style="display: flex; gap: 10px;">
                                <a class="text-danger" asp-action="Delete" asp-controller="Admin" asp-route-id="@account.UserName">Remove Moderator</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info">
        No users.
    </div>
}

