@model Task3.ViewModels.TopicViewModel
@{
    ViewData["Title"] = "Forum Page";
}

<h1>@Model.Name</h1>
@Model.Description
<hr>
<div class="flex-lg-row">
    <a asp-controller="Topics" asp-action="Index" asp-route-id=@Model.SectionId class="btn btn-secondary mb-3">< Back</a>
    <a asp-controller="Messages" asp-action="Create" asp-route-id=@Model.Id class="btn btn-success mb-3">+ Write Message</a>
</div>

@if (Model.Messages.Any())
{
    <div class="list-group">
        @foreach (var item in Model.Messages)
        {
        <div class="list-group-item d-flex flex-column">
            <div class="d-flex justify-content-between">
                <div class="flex-lg-row">
                    @if (@item.Creator != null)
                    {
                        <a class="font-weight-bold ml-lg-auto">@item.Creator.UserName</a>
                    }
                    <a>@item.Created</a>
                    @if (@item.Modified.HasValue)
                    {
                        <a class="text-info">(edited @item.Modified)</a>
                    }
                </div>
                @if (((item.Creator != null) && (item.Creator.UserName == User.Identity.Name)) || (User.IsInRole("Admin")) || (User.IsInRole("Moderator")) && (item.Topic.Section.Moderators.Any(x => x.UserName == User.Identity.Name)))
                {
                    <div style="display: flex; gap: 10px;">

                        <a class="text-danger" asp-action="Delete" asp-controller="Messages" asp-route-id="@item.Id">Delete</a>
                        <a asp-action="Edit" asp-controller="Messages" asp-route-id="@item.Id">Edit</a>
                    </div>
                }
                </div>
                <div class="p-2">@item.Text</div>
            @if (!((item.Attachments != null) && (!item.Attachments.Any())))
            {
            <div class="d-flex flex-column col-md-12 gap-3 justify-content-between">
                @foreach (var attachment in item.Attachments)
                {
                <div class="d-flex col-md-12">
                    <a asp-action="Index" asp-controller="Attachments" asp-route-id="@attachment.Id">
                        <img class="card-img-top" src="~/@attachment.FilePath" alt="@attachment.FileName" />
                    </a>
                </div>
                }
            </div>
            }
        </div>
        }
    </div>
}

else
{
    <div class="alert alert-info">
        Topic empty.
    </div>
}


